body {background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
     url("../images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    
}
  .login{
      float: right;
  }
  img {
    padding-top: 9%;
    width: 70vh;
    height: 60vh;
    padding-left: 25%;
}
